/* Create two equal columns that floats next to each other */
* {
	box-sizing: border-box;
  }
.column {
	float: left;
	/*width: 50%;*/
	padding: 5px;
	margin-bottom: 0px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 16px;
	height: 16px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
#add {
	width: 43ch
}
#amount {
	width: 15ch
}
  .loader2 {
	border: 6px solid #f3f3f3;
	border-radius: 50%;
	border-top: 6px solid #3498db;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }